main {
    width: 70%;
    height: 600px;
    display: flex;
}

/* Layout */
@media (max-width: 425px) {
    /* Styles for smaller screens */
    main {
        
       
       
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #TittlWraper {
        width: 30%;
    }
    #TittleHeader {
        font-size: 50px;
        color: white;
    }
    

  }
